<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
<head>
<meta charset="utf-8">
<title>Olvidaste tu contraseña</title>
<!-- Bootstrap -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<!-- Estilos -->
<link rel="stylesheet" th:href="@{/css/Styles.css}" />
</head>

<body>
	<div class="multi_bg_example">

		<br> <br>


		<div class="container">
			<div class="row-login">

				<h1 class="titulo">Olvidaste Tu Contraseña</h1>
				
				<div th:if="${error != null}">
					<div class="alert alert-info">[[${error}]]</div>
				</div>
				
				<div th:if="${message != null}">
					<div class="alert alert-info">[[${message}]]</div>
				</div>
				<form th:action="@{/forgot_password}" method="post">
                      <br>

                   

					<div class="form-group">
						<label for="username">Se enviara un link para restablecer su contraseña al correo escrito:</label>
						 <input
						 name="username" type="text" class="form-control"
							required autofocus="autofocus" placeholder="Digite su email">
					</div>

					<div class="control-label">
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<input type="submit" class="v-btn-grow-box" id="login-submit"
									value="Enviar Correo" />
							</div>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
	<!-- logo -->
	<img th:src="@{/css/logohorizontalconslogan.png}" />

	<!-- bootstrap -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>

</body>
</html>