<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
<head>
<meta charset="utf-8">
<title>Medida</title>
<!--Bootstrap-->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />

<!-- -Estilos -->
<link rel="stylesheet" th:href="@{/css/StylesMED.css}" />
<!-- DataTables con BootStrap -->
<link rel="stylesheet" type="text/css"
	href="/datatables/DataTables-1.12.1/css/dataTables.bootstrap5.min.css" />
	
	<link rel="stylesheet" type="text/css"
	href="/datatables/DataTables.css" />
	
	
<!-- FontAwesome -->
<link rel="stylesheet" type="text/css"
	href="/fontawesome-free-6.3.0-web/css/fontawesome.min.css" />
<link rel="stylesheet" type="text/css"
	href="/fontawesome-free-6.3.0-web/css/brands.css" />
<link rel="stylesheet" type="text/css"
	href="/fontawesome-free-6.3.0-web/css/solid.css" />
	
<!-- 1-----------------------------1 -->
<img class="imagen" th:src="@{/css/logohorizontalconslogan.png}" />
<a  class="cerrar" th:href="@{/}"><h3 class="regresar">Regresar</h3></a>

<hr class="linea">
</head>
<body>

	<div class="container">

		<div class="row">
			<h1>Lista de Medidas</h1>
		</div>
		<table class="table table-striped table-bordered" id="myTable">
			<thead class="table-dark">
				<tr>
					<th class="titulotb" scope="col">#</th>
					<th class="titulotb" scope="col">Nombre</th>
					<th class="titulotb" scope="col">Estado</th>
					<th class="titulotb" scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="med : ${Measure}">
					<th th:text="${med.id_med}" scope="row"></th>
					<td th:text="${med.nom}"></td>
					<td th:text="${med.est}">
					<td><a th:href="@{/admin/getOneMeasure/(id_med=${med.id_med})}"
						class="btn btn-warning" id="update" onclick="Ocultar()">Editar</a> <a
						th:href="@{/admin/MeasureDelete/(id_med=${med.id_med})}"
						class="btn btn-warning" onclick="Ocultar()"id="updateButton">Eliminar</a></td>
				</tr>
			</tbody>
		</table>

		<br>
		
		<!-- Excepciones -->

		<!-- Crear -->

		<div th:if=${param.exito}>
			<div class="alert alert-success">Se creo exitosamente el
				registro</div>
		</div>

		<div th:if=${param.fallo}>
			<div class="alert alert-danger">No se pudo crear el registro</div>
		</div>
		
		<!-- Actualizar -->
		
		<div th:if=${param.exitoUp}>
			<div class="alert alert-success">Se actualizo exitosamente el
				registro</div>
		</div>

		<div th:if=${param.falloUp}>
			<div class="alert alert-danger">No se pudo actualizar el registro</div>
		</div>

        <!-- Borrar -->

        <div th:if=${param.exitoDe}>
			<div class="alert alert-success">Se elimino exitosamente el
				registro</div>
		</div>

		<div th:if=${param.falloDe}>
			<div class="alert alert-danger">No se pudo eliminar el registro</div>
		</div>

        <!-- -------- -->
		
		<form th:action="@{/files/uploadMed}" method="POST"
			enctype="multipart/form-data">
			<div class="row my-4">
				<div th:if=${param.CargaExitosa}>
					<div class="alert alert-success">Datos Llenados Correctactemente</div>
				</div>

				<div th:if=${param.CargaFallida}>
					<div class="alert alert-danger">Ocurrio algo en la carga</div>
				</div>
				<div class="col-md-4">
					<span>¿Quiere llenar Datos desde un excel?</span> <input type="file"
						name="files" onchange="" id="file" class="file form-control"
						required="required">
				</div>
				<div class="col-md-4">
					<button id="subir"class="ov-btn-slide-close">Subir</button>
				</div>
			</div>
		</form>
		
		<a><button class="ov-btn-grow-box" id="crear"
				onclick="document.getElementById('id01').style.display='block',Ocultar()">Crear</button></a>
		
		<div id="id01" class="modal">
			<span onclick="document.getElementById('id01').style.display='none',Mostrar()"
				class="close" title="Close Modal">&times;</span>

			<div class="container">
				<div class="row">
					<div
						>
						<center>
							<h1 class="tituloh1">Registro de Medidas</h1>
						</center>

						<div class="ard-body">

							<form th:action="@{/admin/MeasureCrear}" method="post">

								<div class="form-row row">


									<div class="form-group">
										<label>Nombre</label><br> <input type="text" class="nomcat"
											placeholder="Ingrese la medida" name="nom"><br>
									</div>

									<div class="form-group6">
										<label>Estado:</label><br> <select class="form-select"
											name="est" required>

											<option value="Activo">Activo</option>
											<option value="Inactivo">Inactivo</option>

										</select>
									</div>


									<div class="container1">
										<button  type="submit" onclick="Mostrar()" class="ov-btn-slide-left">Guardar</button>
										<br> <br>


										<button type="button" 
											onclick="document.getElementById('id01').style.display='none',Mostrar()"
											class="o-btn-slide-left">Cancelar</button>
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="editModal" class="modal">
			<span
				onclick="document.getElementById('editModal').style.display='none',Ocultar()"
				class="close" title="Close Modal">&times;</span>

			<div class="container">
				<div class="row">
					<div>
						<center>
							<h1 class="tituloh1">Actualizacion de Medidas</h1>
						</center>

						<div class="ard-body">

							<form th:action="@{/admin/MeasureUpdate}" method="put">

								<div class="form-row row">

									<input type="hidden" id="idmedEdit" name="id_med">

									<div class="col-md-6">
										<div class="form-group">
											<label>Nombre:</label><br> <input type="text" class="nomcat"
												placeholder="Ingrese nombre" id="NomEdit" name="Nom"><br>
										</div>
									</div>


									<div class="form-group6">
										<label>Estado:</label><br> <select class="form-select"
											id="EstEdit" name="Est" required>

											<option value="Activo">Activo</option>
											<option value="Inactivo">Inactivo</option>

										</select>
									</div>


									<div class="container1">
										<button  type="submit" class="ov-btn-slide-left" onclick="Mostrar()">Guardar</button>
										<br> <br>


										<button type="button" data-dismiss="modal" data-backdrop="false"
											onclick="document.getElementById('editModal').style.display='none',Mostrar()"
											class="o-btn-slide-left">Cancelar</button>
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="updateEstModal" class="modal">
			<span
				onclick="document.getElementById('updateEstModal').style.display='none',Ocultar()"
				class="close" title="Close Modal">&times;</span>

			<div class="container">
				<div class="row">
					<div>
						<center>
							
						</center>

						<div class="rd-body">

							<form th:action="@{/admin/MeasureDelete}" method="put">

								<div class="orm-group">
									<h3 class=tituloh3>¿Esta seguro de borrar este dato?</h3><br> <br>

									<div class="container2">
										<a class="p-btn-slide-left" onclick="Mostrar()" id="delRef">Si, Seguro</a> <br>
										<br>

										<button type="button" data-dismiss="modal" data-backdrop="false"
											onclick="document.getElementById('updateEstModal').style.display='none',Mostrar()"
											class="btn-slide-left">Cancelar</button>
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<script>
		var modal = document.getElementById('id01');
		window.onclick = function (event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script>



	<!-- jquery -->
	<script th:src="@{https://code.jquery.com/jquery-3.6.1.js}"
		integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
		crossorigin="anonymous"></script>
	<!-- Bootstrap -->
	<script
		th:src="@{https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js}"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js}"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<!-- Java script -->
	<script type="text/javascript"
		th:src="@{/js/UpdateMeasure.js}"></script>
	<!-- DataTables -->
	<script type="text/javascript"
		th:src="@{/datatables/DataTables-1.12.1/js/jquery.dataTables.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/datatables/DataTables-1.12.1/js/dataTables.bootstrap5.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/datatables/Buttons-2.3.2/js/dataTables.buttons.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/datatables/Buttons-2.3.2/js/buttons.html5.min.js}"></script>

	<!-- Exportar Archivos -->
	<script th:src="@{/datatables/JSZip-2.5.0/jszip.min.js}"></script>
	<script th:src="@{/datatables/pdfmake-0.1.36/pdfmake.min.js}"></script>
	<script th:src="@{/datatables/pdfmake-0.1.36/vfs_fonts.js}"></script>
		

	<footer class="footer">
		<small>&copy; 2022 <b>1NV3NT0RY</b> - Todos los derechos
			reservados-
		</small>

	</footer>
</body>
</html>
