<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
<head>
<meta charset="utf-8">
<title>Olvidaste tu contraseña</title>
<!-- Bootstrap -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<!-- Estilos -->
<link rel="stylesheet" th:href="@{/css/reset.css}" />
</head>

<body>
	<div class="multi_bg_example">

		<br> <br>


		<div class="container">
			<div class="row-login">

				<h1 class="titulo">Restablecer Contraseña</h1>
				<form th:action="@{/reset_password}" method="post">
				
				<input type="hidden" name="token" th:value="${token}">
                      <br>

                   <div class="form-group">
						 <input id="password"
						 name="password" type="password" class="form-control"
							required autofocus="autofocus" placeholder="Digite una nueva contraseña">
					</div>

					<div class="form-group">
						 <input name="confirmPassword" type="password" class="form-control"
							required autofocus="autofocus" placeholder="Confirme la nueva Contraseña"
							oninput="checkPasswordMatch(this);">
					</div>

					<div class="control-label">
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<input type="submit" class="v-btn-grow-box"
									value="Cambiar Contraseña" />
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- logo -->
	<img th:src="@{/css/logohorizontalconslogan.png}" />

	<!-- bootstrap -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
		<!-- JQery -->
		<script th:src="@{https://code.jquery.com/jquery-3.6.1.js}"
		integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
		crossorigin="anonymous"></script>
		
	<script type="text/javascript">

      function checkPasswordMatch(fieldConfirmPassword){
		  if(fieldConfirmPassword.value != $("#password").val()){
			  
			  fieldConfirmPassword.setCustomValidity("Las Contraseñas no coinciden");
			  return false;
		  }else{
			  
			  fieldConfirmPassword.setCustomValidity("");
			  
		  }
		  
		  
	  }

	</script>

</body>
</html>